@using DawV2.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Cererile mele";
}

<h1> @ViewBag.Title </h1> <br />
@*@Html.Partial("NoticeButtonPartial",new Notice{ApplicationUserId = "ceva ceva"})*@

@ViewBag.message <br />
@foreach (FriendshipRequest request in ViewBag.Requests)
{
    if (request.IsAccepted == false)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <small> <strong> Nume: </strong> @request.Requester.LastName </small> <br />
                <small> <strong> Prenume: </strong> @request.Requester.FirstName </small> <br />
                <small> <strong> Mesaj: </strong>@request.Message </small>
            </div>
            <div class="panel-footer" style="min-height:51px">
                <a class="btn btn-success btn-sm pull-left" href="/FriendshipRequest/Accept/@request.FriendshipRequestId"> Accepta </a>
                <form method="post" action="/FriendshipRequest/Delete/@request.FriendshipRequestId">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-danger btn-sm pull-right" type="submit"> Sterge </button>
                </form>
            </div>
        </div>
    }
}

<a class="btn btn-primary" href="/Users/Show/@User.Identity.GetUserId()"> Inapoi la pagina de profil </a>