@using DawV2.Models
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<h2>Groups</h2>
<div class="container-fluid bg-success" style="margin-top: 20px;">@ViewBag.Message</div>
<a href="/Groups/New" class="btn btn-success">Adauga Grup</a>
<hr />
@{
    var userId = User.Identity.GetUserId();
}
@foreach (Group group in ViewBag.Groups)
{
    <div class="container-fluid bg-info" style="margin-top: 20px; padding-bottom: 15px">
        <h1>@group.GroupName</h1>
        <h2>@group.Description</h2>
        <div>
            <a class="btn btn-info" href="/Groups/Show/@group.GroupId">Show</a>
            @if (group.UserGroups.Select(x => x.ApplicationUserId).Contains(userId))
            {
                <form class="pull-right" method="post" action="/Groups/Delete/@group.GroupId">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button type="submit" class="btn btn-danger">Sterge</button>
                </form>
                <form class="pull-right" method="post" action="/Groups/Leave/@group.GroupId">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button type="submit" class="btn btn-danger">Paraseste</button>
                </form>
            }
            else
            {
                <form class="pull-right" method="post" action="/Groups/Adhere/@group.GroupId">
                    <button type="submit" class="btn btn-info">Adera</button>
                </form>
            }

        </div>
    </div>
    <hr />
}