@using DawV2.Models
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<h2>Groups</h2>
<div class="container-fluid bg-success" style="margin-top: 20px;">@ViewBag.Message</div>
<a href="/Groups/New" class="btn btn-success">Adauga Grup</a>
<hr />
@{
    var userId = User.Identity.GetUserId();
}
@foreach (Group group in ViewBag.Groups)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>@group.GroupName</strong>
        </div>
        @*<h1>@group.GroupName</h1>*@
        @*<h2>@group.Description</h2>*@
        <div class="panel-body">
            <div>@group.Description</div> <br />
            <a class="btn btn-primary btn-sm" href="/Groups/Show/@group.GroupId">Show</a>
            @if (group.UserGroups.Select(x => x.ApplicationUserId).Contains(userId))
            {
                <form class="pull-right" method="post" action="/Groups/Delete/@group.GroupId">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button type="submit" class="btn btn-danger btn-sm">Sterge</button>
                </form>
                <form class="pull-right" method="post" action="/Groups/Leave/@group.GroupId"  style="margin-right:15px">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button type="submit" class="btn btn-danger btn-sm">Paraseste</button>
                </form>
            }
            else
            {
                <form class="pull-right" method="post" action="/Groups/Adhere/@group.GroupId">
                    <button type="submit" class="btn btn-info btn-sm">Adera</button>
                </form>
            }

        </div>
    </div>
    <hr />
}