
@{
    ViewBag.Title = "New";
}

@model  DawV2.Models.Group
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<h2>New</h2>

<h2>Creare grup</h2>
<hr />
<form method="post" action="">
    @Html.LabelFor(x => x.GroupName, "Nume Grup")
    <br />
    @Html.TextBoxFor(x => x.GroupName, null, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.GroupName, null, new { @class = "text-danger" })
    <br />
    @Html.LabelFor(x => x.Description, "Descriere Grup")
    <br />
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    <br />
    <button class="btn btn-success" type="submit">Adauga grup</button>
    <a class="btn btn-info pull-right" href="/Groups/Index">Back to groups</a>
</form>