@using Microsoft.AspNet.Identity
@model DawV2.Models.Group
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>
<div class="container-fluid bg-info" style="margin-top: 20px; padding-bottom: 15px">
    <h1>@Model.GroupName</h1>
    <h3>@Model.Description</h3>
    <a href="/Groups/Edit/@Model.GroupId" class="btn btn-info">Edit</a>
    <a class="btn btn-success pull-right" href="/Groups/Index">Back to groups</a>
</div>
<hr />

@foreach (var message in Model.GroupMessages)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 bg-success">
                <div>
                    <div style="text-align: center">@message.Message</div>
                    @if (message.IsEdited)
                    {
                        <div class="pull-right" style="display: inline-block; float: left; margin-right: 15px">
                            <div class="glyphicon glyphicon-asterisk"></div>
                        </div>
                    }
                </div>
                @if(message.ApplicationUserId == User.Identity.GetUserId())
                {
                    <div style="display: inline-block; float: left; margin-right: 15px">
                        <a class="glyphicon glyphicon-pencil" href="/GroupMessage/Edit/@message.MessageId"></a>
                    </div>
                    <div style="display: inline-block; float: left">
                        <form method="post" action="/GroupMessage/Delete/@message.MessageId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="glyphicon glyphicon-trash" style="background: transparent; border: none;" type="submit"></button>
                        </form>
                    </div>

                }
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
}

@if(Model.UserGroups.Select(x => x.ApplicationUserId).Contains(User.Identity.GetUserId()))
{
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="panel">
                    @using (Html.BeginForm(actionName: "New", controllerName: "GroupMessage"))
                    {
                        @Html.HiddenFor(m => m.GroupId, Model.GroupId)
                        @Html.Hidden("IsEdited", false)

                        @Html.Label("Message", "Continut Mesaj")
                        <br/>
                        @Html.TextBox("Message", "", new {@class = "form-control"})
                        <br/>
                    @*@Html.ValidationMessage("Content", null, new { @class = "text-danger " })*@
                        <br/>

                        <button class="btn btn-success" type="submit"> Adauga mesaj </button>
                    }
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
}
<hr />