@{
    ViewBag.Title = "Editeaza postarea";
}

@model DawV2.Models.Post
@using Microsoft.AspNet.Identity

<h2> @ViewBag.Title </h2>
@using (Html.BeginForm(actionName: "Edit", controllerName: "Posts", routeValues: new { id = Model.PostId }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(m => m.ApplicationUserId, User.Identity.GetUserId());
    @Html.Label("Content", "Continut Postare") <br />
    @Html.EditorFor(m => m.Content, new { htmlAttributes = new { @class = "form-control" } }) <br />
    @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" }) <br />

    <button class="btn btn-primary" type="submit"> Editeaza postarea </button>
    <a class="btn btn-primary pull-right" href="/Posts/Show/@Model.PostId"> Inapoi la postare </a>
}

