@using DawV2.Models

@{
    ViewBag.Title = "Postari";
}

<h2> @ViewBag.Title </h2>
<a class="btn btn-success" href="/Posts/New"> Adauga o postare </a> <br />
<p> @ViewBag.message </p> <br />
@{
    var num = 0;
}
@foreach (var post in ViewBag.posts)
{
    num++;
    <div class="panel panel-default">
        <div class="panel-heading">
            <small> <strong> @post.ApplicationUser.FirstName @post.ApplicationUser.LastName </strong> spune: </small>
        </div>
        <div class="panel-body">
            <p> @post.Content </p> <hr/>
            <div style="display: flex; justify-content: space-between">
                @if (User.IsInRole("Admin"))
                {
                    @Html.Partial("NoticeButtonPartial", new Notice
                    {
                        ApplicationUserId = post.ApplicationUserId,
                        Content = "Your comment \"" + post.Content + "\" is not adequate because "

                    }, new ViewDataDictionary {{"Id", num}})
                }
                <a class="btn btn-primary btn-sm" href="/Posts/Show/@post.PostId"> Afiseaza postarea </a>
            </div>
        </div>
    </div>
}
