@model DawV2.Models.ApplicationUser

@{
    ViewBag.Title = "Editare rol utilizator";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Users", routeValues: new { id = @Model.Id }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <br />

    <i class="glyphicon glyphicon-user"></i>
    @Html.Label("FirstName", "Prenume utilizator", new { @class = "" }) <br />
    @Html.EditorFor(m => m.FirstName) <br /><br />

    @Html.Label("LastName", "Nume utilizator", new { @class = "" }) <br />
    @Html.EditorFor(m => m.LastName) <br /><br />

    <i class="glyphicon glyphicon-envelope"></i>
    @Html.Label("Email", "Email utilizator", new { @class = "" }) <br />
    @Html.EditorFor(m => m.Email) <br /><br />

    <i class="glyphicon glyphicon-phone"></i>
    @Html.Label("PhoneNumber", "Numar telefon") <br />
    @Html.EditorFor(m => m.PhoneNumber) <br /><br />

    <button class="btn btn-sm btn-success" type="submit">Modifica datele utilizatorului</button>
}

