@{

    ViewBag.Title = "Cautare utilizator";
}

<h3>@ViewBag.Title</h3>
<br />

@model DawV2.Models.ApplicationUser
@using (Html.BeginForm(actionName: "Search", controllerName: "Users"))
{
    @Html.Label("LastName", "Numele persoanei cautate") <br />
    @Html.TextBox("LastName", null, new { @class = "form-control" }) <br />

    @Html.Label("FirstName", "Prenumele persoanei cautate") <br />
    @Html.TextBox("FirstName", null, new { @class = "form-control" }) <br />

    <button class="btn btn-success" type="submit"> Cauta utilizator </button>
}

<hr />
@{ if (ViewBag.UsersList != null)
    {
        if (ViewBag.NrUtilizatori == 0)
        {
            <div>
                Nu exista niciun utilizator cu numele cautat <br />
            </div>
        }
        else
        {
            <div style="text-align:center">
                Rezulatele cautarii: <br /> <br /> 
            </div>
        }

        foreach (var user in ViewBag.UsersList)
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <strong> Nume: </strong> @user.LastName <br />
                    <strong> Prenume: </strong> @user.FirstName <br />
                    <i class="glyphicon glyphicon-envelope"></i> Email: <span class="label label-default">@user.Email</span>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-sm btn-success" href="/Users/Show/@user.Id"> Vizualizare profil </a>
                </div>
            </div>
        }
    }
}
