@{
    ViewBag.Title = "Editeaza comentariu";
}

@model DawV2.Models.Comment
@using Microsoft.AspNet.Identity

<h2> @ViewBag.Title </h2>
<form method="post" action="/Comments/Edit/@Model.CommentId">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(m => m.ApplicationUserId, User.Identity.GetUserId())
    @Html.HiddenFor(m => m.PostId, Model.PostId)

    @Html.Label("Content", "Comentariu") <br />
    @Html.EditorFor(m => m.Content, new { @class = "form-control" }) <br /> <br />
    <button class="btn btn-primary" type="submit"> Editeaza comentariul </button>
    <a class="btn btn-primary pull-right" href="/Posts/Show/@Model.PostId"> Inapoi la postare </a>
</form>